# Environment variables (including all variants and subdirectories)
.env
.env.*
**/.env
**/.env.*
!.env.example

# Node modules
node_modules/
**/node_modules/

# Compilation output
dist/
**/dist/
build/
**/build/

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
